{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block head_css %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/canva.css' %}" />
    <script type="text/javascript" src="{% static 'js/common/confetti.js' %}"></script>
    {% endblock head_css %}
    {% block css %}

    {% endblock css %}
    {% block title %}
    <title>Django-game!</title>
    {% endblock title %}
  </head>
  <body>
    {% include 'base/canva.html' %}
    <h1 class="text-center" >Hello! Testing</h1><br>
    <div class="container card-container" id="theme_card_container">
      {% block card %}{% endblock card %}
    </div>

    <div class="container" id="game_inti">
      {% block form %}
      
      {% endblock form %}
    </div>

    <div class="container text-center" id="new_content_game">
      {% block new_content %}
      {% endblock new_content %}
    </div>

    {% block score_card %}{% endblock score_card %}

    {% block game_options %}{% endblock game_options %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/cookie.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/common/canvas.js' %}" ></script> -->
    <script type="text/javascript" src="{% static 'js/common/main.js' %}" ></script>
    
    {% block script_theme %} {% endblock script_theme %}
    
  </body>
</html>