{% extends 'base/base.html' %}
{% load static %}

{% block form %}
    <form  class="form" role="form" id="form_start_game">
        <div class="row">
            <div class="center-block">
                <label for="username" class="visually-hidden">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
            </div>
        </div><br>
        <div class="row" style="margin-inline-start:45%;">
            <div class="center-block">
                <button type="submit" class="btn btn-primary mb-3 text-center" href_url="{% url 'api_add_users' %}" id="start_game" >Start Game</button>
            </div>
        </div>
    </form>
{% endblock form %}

{% block card %}
    {% include 'theme_cards/common.html' %}
{% endblock card %}
